.listOnScreenLimuterBlock
{
	margin:auto;
	background-color: #CC6600;
	overflow-x: hidden;

}
.blockwithborder
{
	float: left;
	width: 300px;
	height: 500px;
	background-color: #ffffff;
	float: left;
	margin: 10px;
	display: inline-block;

}

.listBlock
{
	display: inline-flex;
	background-color: #777777;
	
}