.listOnScreenLimuterBlock
{
	margin:auto;
	background-color: #CC6600;
	overflow-x: hidden;

}
.blockwithborder
{
	float: left;
	width: 300px;
	height: 500px;
	background-color: #ffffff;
	float: left;
	margin: 10px;

}
.blockwithborder img
{
	width: 100%;
}
.blockwithborder h1
{
	font-size: 15px;
}

.blockwithborder h2
{
	font-size: 12px;
}

.blockwithborder p
{
	font-size: 12px;
}

.listBlock
{
	display: inline-flex;
	background-color: #777777;
	
}
.headblock
{
	display: inline-flex;
}